<% provide(:title, @post.title) %>

<div class="container-fluid post-wrapper bg-gray">
  <h1 class="title">
    <b><%= @post.title %></b>, <span class="date">Submitted <%= time_ago_in_words(@post.created_at) %> ago.</span>
  </h1>

  <h3 class="subtitle">
    <%= @post.subtitle %>
  </h3>

<!--   <p class="tag_list">
    <%= render @post.tags %>
  </p> -->

  <p class="body">
    <%= @post.body %>
  </p>
</div>