  <%= form_for @post do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
    </p>
      <p>
      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle %><br>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %><br>
    </p>
    <p>
      <%= f.label :tag_list %><br>
      <%= f.text_field :tag_list %><br>
    </p><br>
    <p>
      <%= f.submit "Create" %><br>
    </p>
  <% end %>
