<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="sidebar">
      <div id="logo">
        <%= link_to "Matheus Manoel", root_path %>
      </div>
    </div>
    
    <ul>
        <li class="category">Navigation</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><a href="https://github.com/matheus-manoel">Github</a></li>
      <li><a href="linkedin.com/in/matheusmanoel">Linkedin</a></li>
      <li><a href="http://twitter.com/">Twitter</a></li>
      <li>Email: matheuscmanoel@gmail.com</li>
    </ul>

    <%= yield %>

  </body>
</html>
